/* * {
    background-color: black;
    color: red;
} */

/* #page {
    display: flex;
    flex-direction: column;
} */

* {
    box-sizing: border-box;
}

#btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnDiv button {
    display: flex;
    background-color: red;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container div {
    display: flex;
    background-color: black;
    border: 1px solid blue;
    width: 1px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

/* #container div:hover {
    background-color: hotpink;
    color: hotpink;
} */